ctzn-editor {
  display: block;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

ctzn-editor-toolbar {
  display: block;
  background: #fff;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 100;
}

ctzn-editor-toolbar .controls {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.25rem;
  line-height: 1;
}

ctzn-editor-toolbar .controls > div {
  padding: 0.25rem 0.5rem;
  margin: 0 0.1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

ctzn-editor-toolbar .controls > div:hover {
  background: #f5f5f7;
}

ctzn-editor-toolbar .controls > div.disabled {
  opacity: 0.3;
  cursor: default;
}

ctzn-editor-toolbar .controls > div.disabled:hover {
  background: transparent;
}

ctzn-editor-toolbar .controls > div.pressed {
  background: #e5e5e7;
}

ctzn-editor-toolbar .controls > div.pressed:hover {
  background: #f5f5f7;
}

ctzn-editor-toolbar .controls > div.sep {
  color: #aab;
  cursor: default;
  border-left: 1px solid #ccc;
  border-radius: 0;
  width: 1px;
  height: 18px;
  padding: 0;
  margin: 0 0.5rem;
}

ctzn-editor-toolbar .controls > div.sep:hover {
  background: transparent;
}

ctzn-editor-toolbar .controls svg {
  position: relative;
  top: 1px;
}

ctzn-editor-toolbar .controls svg[data-icon="underline"] {
  top: 2px;
}

ctzn-editor-toolbar .controls svg[data-icon="question"] {
  opacity: 0.5;
}

.editor-blocks-container {
  /* background: #f5f5f7;
  padding: 0.5rem; */
}

.block-header {
  display: none;
}

.block-header .block-label {
  display: inline-block;
  color: #80808f;
  padding: 0.1rem 0.25rem;
  font-size: 13px;
}

.block-wrapper {
  position: relative;
  display: flex;
  background: #fff;
  margin: 0 0 0.5rem;
}

.block-wrapper:hover {
  background: #fafafd;
}

.block-ctrl {
  flex: 0 0 1.25rem;
  padding: 0.25rem;
  color: #6b6b75;
}

.block-ctrl span {
  position: sticky;
  top: 40px;
  border-radius: 0.15rem;
  padding: 0.2rem 0.1rem 0.1rem;
  margin-top: 0.05rem;
  display: inline-block;
  cursor: pointer;
  opacity: 0;
}

.block-ctrl:hover span {
  background: #eef;
}

.block-wrapper:hover > .block-ctrl span {
  opacity: 1;
}

.block-wrapper > .block {
  flex: 1;
}

ctzn-editor-block--richtext {
  display: block;
  padding: 0.5rem 0;
}

ctzn-editor-block--richtext .tox-tinymce {
  border-color: transparent !important;
  border-radius: 0.25rem;
}

ctzn-editor-block--ctzn-card {
  display: block;
  border: 1px solid #ccd;
  border-radius: 0.25rem;
  background: #fff;
  padding: 0.25rem 0.25rem;
}

ctzn-editor-block--ctzn-card .editor-blocks-container {
  border-radius: 0.25rem;
}

ctzn-editor-block--ctzn-card .editor-blocks-container > :last-child{
  margin-bottom: 0;
}